.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    padding: 92px 51px;
    gap: 40px;
    margin-bottom: 0;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-self: center;
}

.header__menu {
    justify-self: start;
    align-self: center;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none; 
}

.header__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    margin: 0;
    padding: 0;
    gap: 2px; 
    line-height: 1.35;
    max-width: 240px;
    font-style: normal;
}

.header__address a {
    text-decoration: underline;
    color: #000;
}

.cover {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 1100px;
    min-height:757px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 165px 1fr 207px;
    grid-template-columns: 50px 1fr 50px;
    padding: 0;
    margin-top: 0;
}

.overlay {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
}

.cover-title {
    grid-row: 2; 
    grid-column: 2;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 700; 
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 30px;
    margin: 0;
    padding: 0;
}

.accent-span {
    position: absolute;
    display: block;
    height: 115px;
    text-transform: uppercase;
}

.accent-span-text-left {
    top: 0px; 
    left: 0px; 
    width: 286px;
    text-align: left;
}

.accent-span-text-center {
    top: 135px;
    left: 330.5px;
    width: 339px;
    text-align: center;
}

.accent-span-text-right {
    top: 270px;
    left: 613px;
    width: 387px;
    text-align: right;
}

.cover__description {
    grid-row: 3;                
    grid-column: 2;           
    display: flex;   
    align-items: center;       
    justify-content: space-between;
    gap: 32px;
    padding-top: 106px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}

.letter-spacing-extended {
    word-spacing: 18px;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    width: 637px;                  
}

.bet-button {
    border: 1px solid #fff;
    background: transparent;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 256px;
    height: 51px;
    text-transform: uppercase;    
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
}

.lots {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0;
    padding: 180px 24px 0 24px;
}

.lots__heading {
    font-family: Raleway, sans-serif;
    font-weight: 700; 
    font-size: 40px;            
    line-height: 47px;            
    text-transform: uppercase;
    color: #000;                
    margin: 0 0 27px 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    margin: 0;                  
    padding: 0;
    justify-content: space-between;
}

.lots__card-list-item {
    flex: 1;
    width: 334px;
    height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;      
    justify-content: space-between; 
    position: relative;
    height: 100%;                
    padding: 50px 40px;           
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    list-style: none; 
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 120%;
    text-decoration: underline;
    z-index: 2;   
    margin: 0;
}

.card__text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    z-index: 2;
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-position: under;
}

.about {
    box-sizing: border-box;
    max-width: 1052px;
    display: flex;
    align-items: flex-start;
    margin: 120px 24px 180px 24px;
}

.about__logo {
    flex-shrink: 0;
    justify-self: start;
    margin-top: 35px;
    margin-left: 47px;
    position: relative;
}

.about__logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image-img {
    width: 148px;
    height: 114px;
}

.about__column {
   flex: 1;
   margin: 133px 0 13px 72px;
}

.about__title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 100px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: start;
    padding: 1px 50px 180px 50px;;
}

.footer__address {
    display: flex;
    flex-direction: column;
    justify-self: start;
   

    gap: 2px; 
    line-height: 1.35;
    max-width: 240px;
    font-style: normal;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer__menu-link {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    font-size: 18px;
    line-height: 1.35;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-self: end;
    text-align: center;
}

.footer__social-list img {
    width: 48px;
    height: 48px;
}